*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "EngebrechteBoldItalic"; /*a name to be used later*/
  src: url("../fonts/engebrechtre bd it.ttf"); /*URL to font*/
}
@font-face {
  font-family: "EngebrechteReg"; /*a name to be used later*/
  src: url("../fonts/engebrechtre rg.ttf"); /*URL to font*/
}

html {
  height: 100%;
}

:root {
  --sound-wrapper-width: 300px;
  --sound-wrapper-height: 100px;
  --sound-wrapper-padding: 4px;
  --scaling: 0.9;
}

body {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #ecf0f1;
  width: 100vw;
  height: 100vh;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  opacity: 0.98;
  height: 47px;
  min-width: 335px;
  transition: transform 0.4s;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a.menu:hover {
  background-color: #ddd;
  color: black;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.topnav a.active {
  background-color: #3498db;
  color: white;
}

.message-box {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  height: 70px;
  background-color: #ddd;
  width: 280px;
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}

.message-box .title {
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.error {
  text-transform: capitalize;
  font-weight: bold;
  color: #e74c3c;
}

.info {
  text-transform: capitalize;
  font-weight: bold;
  color: #2ecc71;
}

.message-box .content {
  color: #333333;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
}

.logged-in-user {
  position: absolute;
  margin-top: 15px;
  color: #ddd;
  right: 100px;
}

.foutmelding-title {
  color: #e74c3c;
  font-size: 1.2em;
  text-transform: capitalize;
}

.fountmelding-content {
  color: white;
  font-size: 1em;
}

.online-counter {
  position: absolute;
  right: 10px;
  color: #ddd;
}

.online-counter img {
  position: absolute;
  width: 20px;
  margin-top: 15px;
  right: 25px;
}

.online-counter p {
  position: absolute;
  margin-top: 15px;
  right: 10px;
}

.selector-menu {
  margin: auto;
  position: absolute;
  left: 170px;
  top: 6px;
  height: 70px;
  z-index: 2000;
  max-width: 90%;
  min-width: 350px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 0px 0px 10px;
  position: absolute;
  top: 0px;
  margin: 10% auto;
  min-width: 335px;
  max-width: 940px;
  margin-top: 47px;
}

.container-rest {
  padding: 10px 0px 0px 10px;
  position: absolute;
  top: 0px;
  margin: auto;
  width: 50%;
  min-width: 335px;
  max-width: 940px;
  margin-top: 47px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.error-container {
  min-width: 450px;
  max-width: 480px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 400px;
  background-color: #333;
  margin: 47px auto;
  text-align: center;
  padding-top: 20px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.formContainer {
  position: relative;
  margin: auto 40;
  width: 480px;
  height: 585px;
  background-color: #333;
  font-size: 0.9em;
  text-align: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.textContent {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-align: left;
  position: absolute;
  margin: auto;
  background-color: #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: auto;
  width: 60%;
  padding: 10px;
  color: #ddd;
}

.formFields {
  position: absolute;
  top: 190px;
  height: 270px;
  width: 350px;
}

.formInput {
  position: absolute;
  margin-left: 10px;
  width: 90%;
}

.imagePreview img {
  position: absolute;
  border-radius: 4px;
  top: 20px;
  right: 20px;
  height: auto;
  width: auto;
  max-width: 170px;
  max-height: 155px;
}

#f_du {
  position: absolute;
  margin-top: -52px;
  width: 50px;
  right: -110px;
}
input[type="text"],
select,
textarea {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  padding-left: 10px;
  width: 300px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 10px;
}
.inputSelect {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

select:focus {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
  font-size: 16px;
}

label {
  text-align: left;
  color: whitesmoke;
  font-size: 1.1em;
  height: 28px;
  display: block;
  width: 150px;
  float: left;
}
input[type="submit"] {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  position: absolute;
  background-color: #3498db;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
input[type="file"] {
  background-color: #3498db;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 440px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1080px) {
  .container {
    margin-top: 47px;
  }
  .topnav {
    height: 47px;
  }
  .logged-in-user {
    position: absolute;
    margin-top: 50px;
    color: #ddd;
    right: 20px;
  }
}

@media only screen and (max-width: 955px) {
  .container {
    width: 630px;
    margin-top: 47px;
  }
  .formContainer {
    width: 480px;
  }
  .error-container {
    margin-top: 47px;
  }
}

@media only screen and (max-width: 880px) {
  .container {
    width: 630px;
    margin-top: 100px;
  }

  .error-container {
    margin-top: 100px;
  }

  .topnav {
    height: 100px;
  }

  .logged-in-user {
    position: absolute;
    margin-top: 85px;
    color: #ddd;
    right: 20px;
  }

  input[type="text"] .quicksearch {
    position: absolute;
    left: -20px;
    top: 47px;
  }
  .selector-menu {
    text-align: center;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    top: 60px;
    height: 70px;
    z-index: 2000;
    max-width: 90%;
    margin-top: -50px;
  }
  .formContainer {
    margin-top: 47px;
    width: 480px;
  }
  .uploadNav {
    height: 47px;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    width: 350px;
  }
  .error-container {
    margin-top: 1o0px;
  }

  .logged-in-user {
    position: absolute;
    margin-top: 15px;
    color: #ddd;
    right: 20px;
  }
  .formContainer {
    margin-top: 47px;
    width: 480px;
  }
  .uploadNav {
    height: 47px;
  }
}

@media only screen and (max-width: 580px) {
  .container {
    margin-top: 150px;
    min-width: 350px;
  }
  .topnav {
    min-width: 350px;
    height: 150px;
  }
  .selector-menu {
    text-align: center;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    top: 60px;
    height: 70px;
    z-index: 2000;
    max-width: 90%;
  }
  .uploadNav {
    height: 47px;
    background-color: #333;
  }
  .logged-in-user {
    position: absolute;
    margin-top: 15px;
    color: #ddd;
    right: 20px;
  }
  #f_du {
    position: absolute;
    margin-top: -67px;
    width: 50px;
    left: 225px;
  }
  .formContainer {
    position: relative;
    margin: auto 40;
    margin-top: 47px;
    width: 350px;
    height: 650px;
    background-color: #333;
    font-size: 0.9em;
    text-align: center;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  }
  .textContent {
    max-width: 150px;
    font-size: 0.7rem;
  }

  input[type="text"].quicksearch {
    position: absolute;
    top: 45px;
    left: 47%;
    transform: translateX(-50%);
  }

  input[type="text"].uploadFormText {
    width: 285px;
    left: 50%;
    display: block;
  }
  label {
    text-align: left;
    color: whitesmoke;
    font-size: 1.1em;
    height: 28px;
    display: block;
    width: 150px;
    display: block;
    margin-top: -15px;
  }
  input[type="file"] {
    width: 285px;
    margin-left: 3%;
    display: block;
    font-size: 0.8rem;
  }
  input[type="select"] {
    width: 285px;
    left: -50%;
    margin-top: -15px;
    display: block;
  }

  input[type="text"],
  select,
  textarea {
    font-family: "EngebrechteReg", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    padding-left: 10px;
    width: 200px;
    height: 35px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 10px;
    width: 270px;
    left: 50%;

    display: block;
  }
  select:focus {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
    font-size: 16px;
    width: 270px;
    left: 50%;

    display: block;
  }
}

.sound-wrapper {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  height: var(--sound-wrapper-height);
  width: var(--sound-wrapper-width);
  border-radius: 4px;
  background-color: #333;
  padding: var(--sound-wrapper-padding);

  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.sound-image {
  height: calc(
    var(--sound-wrapper-height) - calc(2 * var(--sound-wrapper-padding))
  );
  width: var(--sound-wrapper-height);
  transform: translate();
  position: relative;
  overflow: hidden;
  vertical-align: center;
}

.sound-image img {
  height: auto;
  width: auto;
  max-width: 90px;
  max-height: 88px;
  position: absolute;
  opacity: 0.9;
  margin: 0 auto;
  margin-left: 2px;
  border-radius: 4px;
  z-index: 200;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.sound-image :hover {
  opacity: 0.8;
}

.sound-title {
  font-family: "EngebrechteBoldItalic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: whitesmoke;
  position: absolute;
  width: 160px;
  top: 8px;
  overflow-wrap: break-word;
  left: calc(var(--sound-wrapper-height) * var(--scaling) + 25px);
  font-size: 1.5rem;
  text-shadow: 2px 2px #000;
  vertical-align: middle;
  height: 65px;
  line-height: 65px;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.sound-groep {
  position: absolute;
  left: calc(var(--sound-wrapper-height) * var(--scaling) + 25px);
  top: 55px;
  color: silver;
  font-style: italic;
  font-size: 0.8rem;
  visibility: hidden;
}

.search-tags {
  position: absolute;
  left: calc(var(--sound-wrapper-height) * var(--scaling) + 25px);
  top: 78px;
  color: silver;
  font-style: italic;
  font-size: 0.9rem;
  width: 150px;
}
.duration {
  width: 50px;
  height: 20px;
  right: 10px;
  display: block;
  position: absolute;
  top: 5px;
  color: silver;
  text-align: right;
  font-size: 0.7rem;
  z-index: 100;
}
.duration-counter {
  width: 50px;
  height: 20px;
  right: 10px;
  display: block;
  position: absolute;
  top: 5px;
  color: silver;
  text-align: right;
  font-size: 0.7rem;
  z-index: 200;
  visibility: hidden;
}
.progress-bar {
  width: 350px;
  text-align: left;
  left: -350px;
  height: 25px;
  display: block;
  position: absolute;
  top: 0px;
  background-color: #95a5a6;
  text-align: right;
  font-size: 0.8rem;
  opacity: 0.1;
}

.bottom-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 25px;
  width: var(--sound-wrapper-width);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #95a5a6;
  opacity: 0.1;
  z-index: 100;
}
.sound-counter {
  color: whitesmoke;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.8rem;
  color: #2ecc71;
  z-index: 200;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rating img {
  width: 15px;
}

.date-created {
  display: none;
}

/* ---- button ---- */

.button {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #eee;
  border: none;
  border-radius: 7px;

  color: #222;
  font-size: 15px;
  cursor: pointer;
  max-width: 120px;
  height: 35px;
  overflow: hidden;
}

.button:hover {
  background-color: #8cf;
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #3498db;
}

.button.is-checked {
  color: white;
}

/* ---- button-group ---- */

.button-group:after {
  content: "";
  text-align: center;
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0;
  margin-left: 0;
}

.button-group .button:first-child {
  border-radius: 4px 0 0 4px;
}

.button-group .button:nth-last-child(2) {
  border-radius: 0 4px 4px 0;
}
