<!DOCTYPE html>
<html>

    <head>
        <title>Error</title>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
    
            $(function () {
                var socket = io();
                socket.on("users", function (userCounter) {
                    //console.log(userCounter);
                    $(".online-counter p").text(userCounter);
                });
            });
    
    
        </script>
    </head>
    
    <body>
        <nav>
            <div class="topnav" id="myTopnav">
                <a href="/" class="menu">Home</a>
                <a href="/studio" class="menu">Studio</a>
                <div class="logged-in-user"></div>
                <div class="online-counter">
                    <div class="kat"><img src="/img/kat-1.png" /></div>
                    <div class="oog-links"><img src="/img/oog.png"></div>
                    <div class="oog-rechts"><img src="/img/oog.png"></div>
                    <p></p>
                </div>
                <div class="selector-menu">
                    <div id="filters" class="button-group filters-button-group sort">
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <div class="bgboem"><img src="/img/boem.png" alt=""></div>
            <div class="error-container">
    
                    <div class="foutmelding-title">error<div/> <br>
                    <div class="fountmelding-content">Foutmelding: <%= message %><div/><br>       
                        <div class="backButton"><a href="#" style="color: whitesmoke;">Ga, ga je terug?</a><br><br></div>
                        <img src="/uploads/images/pieuw.png" style="height: 200px;">

    
               </div>

      

            <script>
                $('.backButton a').attr("href", "/upload");
            </script>
</body>

</html>