*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "EngebrechteBoldItalic"; /*a name to be used later*/
  src: url("../fonts/engebrechtre bd it.ttf"); /*URL to font*/
}
@font-face {
  font-family: "EngebrechteReg"; /*a name to be used later*/
  src: url("../fonts/engebrechtre rg.ttf"); /*URL to font*/
}

html {
  height: 100%;
}

:root {
  --sound-wrapper-width: 280px;
  --sound-wrapper-height: 100px;
  --sound-wrapper-padding: 4px;
  --scaling: 0.9;
  --primary-color: #993333;
  --secondary-color: #ffcc00;
  --tertiary-color: #cc6633;
}

body {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #ecf0f1;
  width: 100vw;
  height: 100vh;
}
 body a {
  text-decoration: none;
 }

.topnav {
  background-color: #333;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.98;
  height: 50px;
  min-width: 430px;
  transition: transform 0.4s;
  z-index: 800;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a.menu:hover {
  background-color: #ddd;
  color: black;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.topnav a.active {
 /* background-color: #3498db; */
  background-color: var(--primary-color);
  color: white;
}

.message-box {
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -110px;
  height: 100px;
  background-color: #ddd;
  width: 40%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 8000;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}

.message-title {
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.error {
  text-transform: capitalize;
  font-weight: bold;
  color: #e74c3c;
}

.info {
  text-transform: capitalize;
  font-weight: bold;
  color: #2ecc71;
}

.message-content {
  color: #333333;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
}


.foutmelding-title {
  color: #e74c3c;
  font-size: 1.2em;
  text-transform: capitalize;
}

.fountmelding-content {
  color: white;
  font-size: 1em;
}

.online-counter {
  font-size: 1.4em;
  position: absolute;
  right: 10px;
}

.online-counter p {
  font-size: 1.2em;
  position: absolute;
  right: 0px;
  top: 8px;
  color: var(--secondary-color);
}

.online-counter .kat img {
  position: absolute;
  width: 150px;
  margin-top: -25px;
  right: 25px;
}

/* ---- ogen-start ---- */

.oog-links {
  position: absolute;
  right: 83px;
  top: 8px;
  height: auto;
}
.oog-links img {
  width: 5px;
  height: 5px;

}

.oog-rechts {
  position: absolute;
  right: 68px;
  top: 5px;
  width: 5px;
  height: auto;
}
.oog-rechts img {
  width: 5px;
  height: 5px;

}

/* ---- ogen-eind ---- */

.selector-menu {
  margin: auto;
  position: absolute;
  left: 170px;
  top: 6px;
  height: 70px;
  z-index: 1000;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 0px 0px 10px;
  position: absolute;
  top: 0px;
  margin: 10% auto;
  min-width: 335px;
  max-width: 940px;
  margin-top: 47px;
  
}



.error-container {
  min-width: 450px;
  max-width: 480px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 400px;
  background-color: #333;
  margin: 47px auto;
  text-align: center;
  padding-top: 20px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.formContainer {
  position: relative;
  margin: auto 40;
  width: 480px;
  height: 585px;
  background-color: #333;
  font-size: 0.9em;
  text-align: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.textContent {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-align: left;
  position: absolute;
  margin: auto;
  background-color: #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: auto;
  width: 60%;
  padding: 10px;
  color: #ddd;
}

.formFields {
  position: absolute;
  top: 190px;
  height: 270px;
  width: 450px;
}

.formInput {
  position: absolute;
  width: 100%;
}

.uploadFormText {
  width: 350px;
}

.imagePreview img {
  position: absolute;
  border-radius: 4px;
  top: 20px;
  right: 20px;
  height: auto;
  width: auto;
  max-width: 170px;
  max-height: 155px;
}

#f_du {
  position: absolute;
  top: 130px;
  width: 50px;
  left: 370px;
  color: whitesmoke;
  font-size: 1.4em;
}
input[type="text"],
select,
textarea {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  padding-left: 10px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.inputSelect {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

select:focus {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
  font-size: 16px;
}

label {
  text-align: left;
  color: whitesmoke;
  font-size: 1.1em;
  height: 28px;
  display: block;
  width: 150px;
  float: left;
}
input[type="submit"] {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  position: absolute;
  background-color: var(--primary-color);
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
input[type="file"] {
  background-color: var(--tertiary-color);
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 440px;
  margin-bottom: 10px;
}



  .logged-in-user {
    position: absolute;
    margin-top: 85px;
    color: #ddd;
    right: 20px;

  }

  .quicksearch {
    position: fixed;
    width: 300px;
    z-index: 900;
    left: 135px;
    top: 8px;
  }
  input[type="text"] .quicksearch {
    position: absolute;
  }
  .selector-menu {
    text-align: center;
    position: absolute;
    top: 7px;
    left: 125px;
    height: 50px;
    z-index: 1000;
  }
  .formContainer {
    margin-top: 47px;
    width: 480px;
  }
  .uploadNav {
    height: 47px;
  }




.wrapper {
  position: absolute;
  width: 300px;
  height: 100px;

  padding-right: 10px;
  margin-bottom: 20px;
  margin-right: 10px;

}
.sound-wrapper {
  display: inline-block;
  position: absolute;
  height: var(--sound-wrapper-height);
  width: var(--sound-wrapper-width);
  border-radius: 4px;
  background-color: #333;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  overflow:hidden;
  

}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.rating {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rating img {
  width: 15px;
}

.date-created {
  display: none;
}

/* ---- button ---- */

.button {
  font-family: "EngebrechteReg", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #eee;
  border: none;
  border-radius: 7px;
  color: #222;
  font-size: 15px;
  cursor: pointer;
  max-width: 120px;
  height: 35px;
  overflow: hidden;
}

.button:hover {
  background-color: var(--primary-color);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: var(--primary-color);
}

.button.is-checked {
  color: white;
}

/* ---- button-group ---- */

.button-group:after {
  content: "";
  text-align: center;
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0;
  margin-left: 0;
}

.button-group .button:first-child {
  border-radius: 4px 0 0 4px;
}

.button-group .button:nth-last-child(2) {
  border-radius: 0 4px 4px 0;
}




.main {
  padding-top: 60px;
  background-color: rgba(51, 51, 51, 0.2);
}

.bgboem {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;

}
.bgboem img {
  width: 100%;
  height: auto;
  position:fixed;
  bottom:-10%;
  left:0px;
}


.container-grid {
  margin: 0 auto;
}

@media only screen and (max-width: 580px) {
  .main {
    background-color: rgba(51, 51, 51, 0.2);
  
  }
  .bgboem img {
    width: 100%;
    height: auto;
    position:fixed;
    top: -10%;
    left:0px;
  }
  .quicksearch {
    width: 100px;
  }

  .online-counter {
    position: absolute;
    right: 0px;
  }
  
  .online-counter p {
    font-size: 1.0em;
    position: absolute;
    right: 40px;
    top: 8px;
    color: var(--secondary-color);
  }
}

.card {
  position: absolute;
  border-radius: 15px;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 300px;
  height: 100px;
  background-color: #333;
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  overflow: hidden;
}

.top-bar {
  display: block;
  position: absolute;
  height: 20px;
  width: 300px;
  border-top-left-radius: 15px;
  z-index: 10;
  overflow: hidden;
}

.middle-bar {
  margin-top: 15px;
  position: absolute;
  display: block;
  width: auto;  
  height: 100px;
}

.bottom-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width:300px;
  border-bottom-left-radius: 15px;  
  z-index: 10;
  overflow: hidden;
  background-color: rgba(76, 78, 77, 0.4);
}

.progress {
  width: 350px;
  left: -350px;
  top: 0px;
  height: 20px;
  display: block;
  position: absolute;
  background-color: rgba(76, 78, 77, 0.4);
  text-align: right;
  font-size: 0.8rem; 
  z-index: 900;
  }

  
.sound-timer {
  width: 40px;
  height: 20px;
  right: 10px;
  display: block;
  position: absolute;
  top: 40px;
  color: silver;
  text-align: right;
  z-index: 200;
  font-size: 0.8rem;
}
.sound-count {
  position: absolute;
  display: block;
  color: var(--secondary-color);
  top: 60px;
  right: 10px;
  z-index: 200;
  font-size: 0.9rem;
}
.duration-counter {
  width: 40px;
  height: 20px;
  right: 10px;
  display: block;
  position: absolute;
  top: 40px;
  color: var(--tertiary-color);
  text-align: right;
  font-size: 0.8rem;
  z-index: 200;
}


.sound-image {
  position: absolute;
  display: block;
  top: -5px;
  left: 10px;
  height: 80px;
  width: 90px;
  transform: translate();
  z-index: 60;
}


.sound-image img {
  height: auto;
  width: auto;
  max-width: 90px;
  max-height: 80px;
  position: absolute;
  opacity: 0.9;
  margin: 0 auto;
  z-index: 200;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  border-radius: 15px;
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  background-color:rgba(0, 0, 0, 0.8)
}


.sound-title {
  font-family: "EngebrechteBoldItalic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: whitesmoke;
  position: absolute;
  width: 140px;
  overflow-wrap: break-word;
  hyphens: auto;
  left: 110px;
  font-size: 1.4rem;
  text-shadow: 2px 2px #000;
  vertical-align: middle;
  line-height: 25px;
  top: 35%;
  transform: translateY(-50%);
}

.sound-tags {
  position: absolute;
  color: var(--tertiary-color);
  font-size: 0.8rem;
  width: 150px;
  z-index: 380;
  overflow: hidden;
  left: 110px;
  top: 0px;
}


.hibbem {
  position:absolute;
  top: -1000px;
}

.sound-share {
  position: absolute;
  display: block;
  color: #ccc;
  font-size: 1.2rem;
  left: 270px;
  top: 10px;
  cursor: pointer;
  z-index: 800;
}

.sound-share i {
  color: #fff;
  width: 45px;
  height: 45px;
}
